body {
    background-color: blue;
    margin: 0px;
    min-width: 1340px;
}
a {
    text-decoration: none;
    color: #212121;
}
button {
    cursor: pointer;
}
i {
    cursor: pointer;
}
li {
    list-style-type: none;
}
.font_OpenSans {
    font-family: "OpenSans";
}
.font_OpenSans_semi {
    font-family: "OpenSans_semi";
}
.font_OpenSans_bold {
    font-family: "OpenSans_bold";
}
.font_roboto_bold {
    font-family: "roboto_bold";
}
.container {
    margin: auto;
    width: 1350px;
}
.header {
    background-color: #ffffff;
    padding-top: 15px;
    /* width: 1350px; */
}
.menu {
    display: flex;
    margin-bottom: 15px;
    text-align: center;
}
.header_title {
    text-align: center;
    font-size: 23px;
    color: #212121;
    letter-spacing: 1px;
    margin-left: 105px;
    margin-right: 325px;
    font-family: "OpenSans_bold";
}
.menu_list {
    padding-top: 2px;
    font-size: 17.5px;
    letter-spacing: 0.7px;
    color: #212121;
    margin-right: 44px;
    font-family: "OpenSans_semi";
}
.fa-search {
    color: #212121;
}
.web_project {
    width: 1350px;
}
.web_project_back {
    /* width: 1350px; */
    height: auto;
}
.web_project_box {
    position: relative;
    /* width: 1350px; */
}
.web_project_title {
    font-size: 57px;
    color: #ffffff;
    letter-spacing: 3px;
    word-spacing: 3px;
    margin: 10px 0;
    position: absolute;
    left: 285px;
    top: -510px;
    font-family: "OpenSans_semi";
}
.web_project_content{
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1.4px;
    word-spacing: 1.5px;
    margin: 10px 0;
    position: absolute;
    left: 380px;
    top: -410px;
    font-family: "OpenSans";
}
.web_img {
    width: 100%;
    overflow: hidden;
}
.web_project_button_services,
.web_project_button_hire {
    text-align: center;
    width: 210px;
    height: 65px;
    position: absolute;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 1px;
    background: transparent;
    color: #ffffff;
    border: 3px solid #ffffff;
    font-family: "roboto_bold";
}
.web_project_button_services {
    left: 450px;
    top: -270px;
}
.web_project_button_hire {
    left: 685px;
    top: -270px;
}
.web_project_button_services:hover {
    left: 450px;
    top: -270px;
}
.web_project_button_services:hover,
.web_project_button_hire:hover {
    text-align: center;
    width: 210px;
    height: 65px;
    background-color: #00897b;
    position: absolute;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: #ffffff;
    border: none;
    font-family: "roboto_bold";
}
.web_project_button_hire:hover {
    left: 685px;
    top: -270px;
}
.fa-angle-down {
    color: #ffffff;
    position: absolute;
    left: 660px;
    top: -125px;
}
.about {
    background-color: #ffffff;
    padding-top: 60px;
    /* width: 1350px; */
}
.about_us_info_list {
    margin: auto;
    margin-bottom: 80px;
    width: 250px;
}
.about_us_info {
    margin: auto;
    display: flex;
    text-align: center;
    width: 1050px;
}
.about_us {
    text-align: center;
    margin: auto;
    margin-bottom: 80px;
    width: 600px;
}
.about_title {
    font-size: 23px;
    color: #212121;
    font-family: "OpenSans_bold";
}
.about_us_title {
        font-size: 17px;
        color: #212121;
        font-family: "OpenSans_semi";
}
.about_us_content {
    width: 200px;
}
.about_content {
    font-family: "OpenSans";
    display: inline;
    font-size: 15px;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    color: #212121;
    line-height: 25px;
}
.our_services {
    background-color: #c8f2ec;
    /* text-align: center; */
}
.services_introduction,
.work_introduction,
.pricing_introduction {
    padding: 90px 0px;
    margin: auto;
    text-align: center;
    width: 600px;
}
.services_title,
.work_title,
.pricing_title {
    font-family: "OpenSans_bold";
    color: #212121
    font-size: 23px;
}
.services_content,
.work_content,
.pricing_content {
    font-family: "OpenSans";
    display: inline;
    font-size: 15px;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    color: #212121;
    line-height: 25px;
}
.services_read_more {
    display: flex;
    text-align: center;
    margin: auto;
    width: 1150px;
}
.read_more {
    padding: 40px;
}
.read_more,
.pricing_info {
    background-color: ivory;
    color: #212121;
    margin-left: 30px;
    margin-bottom: 30px; 
}
.read_more_bottom {
    background-color: ivory;
    color: #212121;
    margin-left: 30px;
    padding: 40px;
    margin-bottom: 70px;
}
.read,
.price {
    margin-bottom: 80px;
}
.read_title {
    font-size: 17px;
    font-family: "OpenSans_semi";
    color: #212121;
}
.read_more_button {
    padding: 10px;
    margin: auto;
    border: 2px solid #212121;
    margin-bottom: 20px;
    font-size: 17px;
    background: transparent;
    color: #212121;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: "roboto_bold";
}
.smartphone {
    background: url(photo/smartphone.png);
    margin: auto;
    display: flex;
    width: 74px;
    height: 74px;
}
.read_more:hover {
    background-color: #003a2f;
    margin-left: 30px;
    padding: 40px;
    margin-bottom: 30px;
    color: blanchedalmond;
}
.read_more:hover .read_title {
    color: blanchedalmond;
}
.read_more:hover .services_content {
    color: blanchedalmond;
}
.read_more:hover .smartphone {
    background: url(photo/smartphone_white.png);
    width: 74px;
    height: 74px;
}
.read_more:hover .read_more_button {
    padding: 10px;
    margin: auto;
    border: 2px solid white;
    margin-bottom: 20px;
    font-size: 17px;
    color: blanchedalmond;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: "roboto_bold";
}
.read_more_bottom:hover {
    background-color: #003a2f;
    margin-left: 30px;
    padding: 40px;
    margin-bottom: 70px;
}
.read_more_bottom:hover .read_title {
    color: blanchedalmond;
}
.read_more_bottom:hover .services_content {
    color: blanchedalmond;
}
.read_more_bottom:hover .smartphone {
    background: url(photo/smartphone_white.png);
    width: 74px;
    height: 74px;
}
.read_more_bottom:hover .read_more_button {
    padding: 10px;
    margin: auto;
    border: 2px solid white;
    margin-bottom: 20px;
    font-size: 17px;
    color: blanchedalmond;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: "roboto_bold";
}
.latest_work {
    background-color: #ffffff;
    text-align: center;
    width: 1350px;
}
.work_list {
    display: flex;
    width: 680px;
    margin: auto;
}
.work_button {
    padding: 20px 30px;
    letter-spacing: 0.9px;
    word-spacing: 2.5px;
    margin: auto;
    font-size: 16px;
    border: 3px solid #003a2f;
    margin-bottom: 80px;
    font-family: "roboto_bold";
    color: #212121;
}
.work_button:hover {
    background-color: #003a2f;
    color: blanchedalmond;
}
.works_example_top,
.works_example_bottom {
    width: 1150px;
    display: flex;
    margin: auto;
}
.works_example_top {
    margin-bottom: 35px;
}
.works_example_bottom {
    margin-bottom: 115px;
}
.example {
    margin: auto;
}
.example_photo {
    width: 340px;
    height: 340px;
}
.view_all {
    font-family: "roboto_bold";
    padding: 20px 40px;
    margin: auto;
    font-size: 16px;
    color: ivory;
    background-color: #003a2f;
    border: 3px double #003a2f;
    letter-spacing: 0.9px;
    word-spacing: 2.5px;
    margin-bottom: 100px;
}
.pricing_plan {
    margin: auto;
    background-color: #f0f1f1;
    text-align: center;
    width: 1350px;
}
.pricing_info_bars {
    display: flex;
    margin: auto;
    width: 1200px;
    padding-bottom: 70px;
}
.price_bar {
    margin-bottom: 40px;
}
.price_title {
    font-size: 20px;
    font-family: "OpenSans";
    color: #f0f1f1;
    margin-bottom: 15px;
}
.pricing_info {
    padding: 40px 0px;
    width: 350px;
    height: 500px;
    background-image: url(photo/background.jpg);
    /* margin: auto; */
}
.price_services {
    margin: auto;
    margin-bottom: 15px;
    width: 150px;
    border-bottom: 1.5px solid #212121;
}
.pricing_button {
    padding: 10px;
    margin: auto;
    border: 2px solid #212121;
    margin-bottom: 20px;
    font-size: 17px;
    background: transparent;
    color: #212121;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: "roboto_bold";
}
.pricing_info:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.pricing_info:hover .pricing_button {
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 17px;
    border: 2px solid #00897b;
    background-color: #00897b;
    color: blanchedalmond;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: "roboto_bold";
}
.price_content {
    font-size: 35px;
    font-family: "OpenSans";
    color: #f0f1f1;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    margin-bottom: 40px;
    vertical-align: center;
}
.top_camel {
    font-size: 15px;
    vertical-align: top;
}
.bot_camel {
    font-size: 15px;
    vertical-align: bottom;
}
.team_members {
    background-color: #ffffff;
    text-align: center;
    width: 1350px;
}
.team_members_title {
    padding: 50px 0px;
    width: 600px;
    margin: auto;
}
.photo_members {
    margin-bottom: 30px;
}
.member_name {
    font-size: 17px;
    font-family: "OpenSans_semi";
    color: #212121;
}
.members_content {
    font-family: "OpenSans";
    font-size: 15px;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    color: #212121;
    margin-bottom: 25px;
    line-height: 25px;
}
.members_info {
    display: flex;
    width: 1150px;
    margin: auto;
    margin-bottom: 170px;
}
.member {
    margin-right: 20px;
}
.connection_members {
    margin: auto;
}
.fa-facebook,
.fa-twitter,
.fa-comments {
    color:#00897b;
    background-color: #f0f1f1;
    padding: 15px;
    border-radius: 3px;
    margin-right: 15px;
}
.fa-futbol-o {
    color:#00897b;
    background-color: #f0f1f1;
    padding: 15px;
    border-radius: 3px;
}
.fa-circle {
    color:#00897b;
}
.fa-facebook:hover {
    color: #ffffff;
    background-color: #3949ab;
}
.fa-twitter:hover {
    color: #ffffff;
    background-color: #3949ab;
}
.fa-comments:hover {
    color: #ffffff;
    background-color: #3949ab;
}
.fa-futbol-o:hover {
    color: #ffffff;
    background-color: #3949ab;
}
.fa-circle:hover {
    color: #3949ab;
}
.members_swipe {
    padding-bottom: 100px;
}


.bottom_bar{
    background-color: #ffffff;
    padding: 20px 0px;
    width: 1350px;
    text-align: center;
}
.bottom_bar_content {
    font-size: 17px;
    font-family: "OpenSans_semi";
}





@font-face {
        font-family: "OpenSans";
        src: url("fonts/opensans.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }
@font-face {
        font-family: "OpenSans_semi";
        src: url("fonts/opensans_semi.ttf") format("truetype");
        font-style: normal;
        font-weight: medium;
    }
@font-face {
        font-family: "OpenSans_bold";
        src: url("fonts/opensans_bold.ttf") format("truetype");
        font-style: normal;
        font-weight: bold;
    }
@font-face {
    font-family: "roboto_bold";
    src: url("fonts/roboto_bold.ttf") format("truetype")
}
/* @font-face {
    font-family: "Awesome";
    src: url("fonts/fontawesome-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "AF";
    src: url("fonts/font-awesome.min.css") format("css");
} */