body {
    background-color: blue;
    margin: 0;
    width: 100%;
}
.main {
    margin: auto;
}
.header {
    background-color: whitesmoke;
}
.header_title {
    font-size: 30px;
    margin-left: 170px;
    margin-right: 530px;
}
.menu {
    display: flex;
}
.menu_list {
    font-size: 25px;
    margin-right: 75px;
}
.web_project {
    margin-bottom: 80px;
}
.web_project_box {
    position: relative;
}
.web_project_title {
    font-size: 75px;
    color: white;
    margin: 10px 0;
    position: absolute;
    left: 500px;
    top: -700px;
}
.web_project_content{
    font-size: 25px;
    color: white;
    margin: 10px 0;
    position: absolute;
    left: 600px;
    top: -585px;
}
.web_project_button1 {
    text-align: center;
    width: 150px;
    height: 50px;
    position: absolute;
    left: 750px;
    top: -485px;
    font-size: 25px;
    color: white;
    border: 3px solid white;
}
.web_project_button2 {
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: aqua;
    position: absolute;
    left: 950px;
    top: -485px;
    font-size: 25px;
    color: white;
    border: 3px solid white;
}
.web_img {
    width: 100%;
}
.about_us {
    text-align: center;
    margin-bottom: 80px;
}
.about_title {
    font-size: 30px;
}
.about_us_title {
        font-size: 20px;
        color: black;
}
.about_content {
    font-size: 20px;
}
.about_us_info {
    display: flex;
    text-align: center;
}
.about_us_info_list {
    margin: auto;
    margin-bottom: 80px;
}
.our_services {
    background-color: #c8f2ec;
    text-align: center;
}
.services_introduction {
    margin-bottom: 80px;
    padding-top: 90px;
}
.services_title {
    font-size: 30px;
}
.services_content {
    font-size: 20px;
}
.services_read_more {
    display: flex;
    text-align: center;
    padding: 0px 100px;
}
.read_more {
    background-color: ivory;
    margin: auto;
    padding: 100px;
    margin-bottom: 90px;
}
.read_title {
    font-size: 20px;
}
.read_content {
    font-size: 20px;
}
.read_more_button {
    margin-top: 80px;
    font-size: 25px;
    border: 3px double;
}
.smartphone {
    background: url(photo/smartphone.png);
    margin: auto;
    display: flex;
    width: 74px;
    height: 74px;
}
.read_more:hover {
    background-color: #003a2f;
    color: blanchedalmond;
    margin: auto;
    padding: 100px;
    margin-bottom: 90px;
}
.smartphone:hover {
    background: url(photo/smartphone_white.png);
    width: 74px;
    height: 74px;
}
.latest_work {
    background-color: whitesmoke;
    text-align: center;
}
.work_introduction {
    margin-bottom: 80px;
    padding-top: 90px;
}
.work_title {
    font-size: 30px;
}
.work_content {
    font-size: 20px;
}
.work_list {
    display: flex;
    padding: 0px 450px;
}
.work_button {
    padding: 40px;
    margin: auto;
    font-size: 25px;
    border: 3px double #003a2f;
    margin-bottom: 100px;
}
.work_button:hover {
    background-color: #003a2f;
    color: blanchedalmond;
    margin-bottom: 100px;
}

.works_example {
    display: flex;
}
.example {
    margin: auto;
    margin-bottom: 80px;
}
.example_photo {
    width: 500px;
    height: 500px;
}
.view_all {
    padding: 40px;
    margin: auto;
    font-size: 25px;
    color: ivory;
    background-color: #003a2f;
    border: 3px double #003a2f;
    margin-bottom: 100px;

