.contact_us {
    background-image: url(../photo/back_contact.jpg);
    text-align: center;
    width: 1350px;
}
.contact {
    margin: auto;
    padding-top: 85px;
    width: 630px;
    margin-bottom: 100px;
}
.contact_title {
    color: #ffffff;
    font-size: 27px;
    letter-spacing: 0.7px;
    word-spacing: 0.7px;
    font-family: "OpenSans_bold";
}
.contact_content_info {
    font-family: "OpenSans";
    font-size: 15px;
    letter-spacing: 0.7px;
    word-spacing: 1px;
    color: #ffffff;
    margin-bottom: 25px;
    line-height: 25px;
}
.contacts {
    display: flex;
    width: 1050px;
    margin: auto;
    margin-bottom: 60px;
}
.contacts_list {
    margin: auto;
    width: 250px;
}
.contact_content {
    font-family: "OpenSans";
    font-size: 15px;
    letter-spacing: 2.7px;
    word-spacing: 1px;
    color: #ffffff;
    margin-bottom: 25px;
    line-height: 25px;
}
.input_feedback {
    width: 1000px;
    margin: auto;
}
.input_person {
    padding: 0px;
    display: flex;
    margin: auto;
    margin-bottom: 35px;
}
.input_name {
    margin-right: 30px;
    border: none;
    border-radius: 10px;
    width: 485px;
    height: 80px;
    font-family: "OpenSans_bold";
    font-size: 16px;
    color: #212121;
    text-indent: 20px;
}
.input_mail {
    border: none;
    border-radius: 10px;
    width: 485px;
    height: 80px;
    font-family: "OpenSans_bold";
    font-size: 16px;
    color: #212121;
    text-indent: 20px;
}
.input_massage {
    margin: auto;
    margin-bottom: 40px;
}
.massage {
    padding: 15px 0px 0px 15px;
    margin: auto;
    border: none;
    border-radius: 10px;
    width: 985px;
    height: 300px;
    font-family: "OpenSans_bold";
    font-size: 16px;
    color: #212121;
    text-indent: 5px;
    resize: none;
}
.send {
    width: 550px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: 10px;
}
.send_massage {
    margin: auto;
    width: 220px;
    height: 70px;
    font-family: "roboto_bold";
    font-size: 19px;
    color: #212121;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    letter-spacing: 0.9px;
    word-spacing: 2.5px;
    vertical-align: middle;
}