body {
    margin: 0px;
    min-width: 1340px;
}
a {
    text-decoration: none;
    color: #212121;
    cursor: pointer;
}
button {
    cursor: pointer;
}
i {
    cursor: pointer;
}
li {
    list-style-type: none;
}
.font_OpenSans {
    font-family: "OpenSans";
}
.font_OpenSans_semi {
    font-family: "OpenSans_semi";
}
.font_OpenSans_bold {
    font-family: "OpenSans_bold";
}
.font_roboto_bold {
    font-family: "roboto_bold";
}
.container {
    margin: auto;
    width: 1350px;
}