.pricing_introduction {
    margin: auto;
    text-align: center;
    width: 620px;
}
.pricing_introduction {
    padding: 100px 0px;
    margin-bottom: 10px;
}
.pricing_introduction {
    margin-bottom: 20px;
}
.pricing_title {
    font-size: 27px;
    color: #212121;
    letter-spacing: 1.2px;
    word-spacing: 0.7px;
    font-family: "OpenSans_bold";
}
.pricing_content {
    font-family: "OpenSans";
    display: inline;
    font-size: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #212121;
    line-height: 24px;
}
.pricing_content {
    line-height: 22px;
}
.pricing_info {
    background-color: #ffffff;
    color: #212121;
    margin-bottom: 30px; 
}
.pricing_info_first {
    background-color: #ffffff;
    color: #212121;
    margin-bottom: 30px; 
}
.price {
    padding-top: 10px;
}
.pricing_plan {
    margin: auto;
    background-color: #f0f1f1;
    text-align: center;
    width: 1350px;
}
.pricing_info_bars {
    display: flex;
    margin: auto;
    width: 1200px;
    padding-bottom: 120px;   
}
.price_bar {
    margin-bottom: 40px;
}
.price_title {
    font-size: 24px;
    font-family: "OpenSans";
    letter-spacing: 2px;
    word-spacing: 0.5px;
    color: #f0f1f1;
    margin-bottom: 15px;
}
.pricing_info,
.pricing_info_first {
    padding: 10px 0px;
    width: 355px;
    height: 626px;
    background-image: url(../photo/background.jpg);
    margin: auto;
}
.pricing_info {
    margin-left: 5px;
}
.price_services {
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 25px;
    width: 180px;
    border-bottom: 1.5px solid #212121;
    opacity: 0.6;
}
.pricing_button {
    padding: 20px 22px;
    margin: auto;
    border: 2px solid #212121;
    font-size: 20px;
    background: transparent;
    color: #212121;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: "roboto_bold";
}
.pricing_info:hover {
    box-shadow: 4px 4px 20px rgba(0,0,0,0.5);
}
.pricing_info:hover .pricing_button {
    padding: 20px 22px;
    margin: auto;
    font-size: 20px;
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #ffffff;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: "roboto_bold";
}
.pricing_info_first:hover {
    box-shadow: 4px 4px 20px rgba(0,0,0,0.5);
}
.pricing_info_first:hover .pricing_button {
    padding: 20px 22px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #ffffff;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: "roboto_bold";
}
.price_content {
    font-size: 45px;
    line-height: 40px;
    font-family: "OpenSans";
    color: #f0f1f1;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    margin-bottom: 40px;
    vertical-align: center;
}
.price_content_title {
    font-size: 45px;
    line-height: 40px;
    font-family: "OpenSans";
    color: #f0f1f1;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    margin-bottom: 60px;
    vertical-align: center;
}
.top_camel {
    font-size: 15px;
    line-height: 25px;
    margin-right: 5px;
    vertical-align: top;
}
.bot_camel {
    font-size: 15px;
    line-height: 25px;
    margin-left: 5px;
    vertical-align: bottom;
}