@import "general.css";
@import "header.css";
@import "web_dev_proj.css";
@import "about_us.css";
@import "our_services.css";
@import "latest_work.css";
@import "pricing_plan.css";
@import "team_members.css";
@import "blog.css";
@import "contact_us.css";
@import "bottom_bar.css";

@font-face {
        font-family: "OpenSans";
        src: url("fonts/opensans.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }
@font-face {
        font-family: "OpenSans_semi";
        src: url("fonts/opensans_semi.ttf") format("truetype");
        font-style: normal;
        font-weight: medium;
    }
@font-face {
        font-family: "OpenSans_bold";
        src: url("fonts/opensans_bold.ttf") format("truetype");
        font-style: normal;
        font-weight: bold;
    }
@font-face {
    font-family: "roboto_bold";
    src: url("fonts/roboto_bold.ttf") format("truetype")
}
